
body {
  background-image: url("kangaroo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100%, 100%;
}

#title {
  text-align: left;
  font-family: "Inconsolata", monospace;
}

/* #images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  grid-auto-columns: 100px;
  grid-template-areas: 
    "a a a"
    "b b b"
    "c c c";
}

#img1 {
  grid-area: a;
  align-self: end;
}

#img2 {
  grid-area: b;
  align-self: end;
}

#img3 {
  grid-area: c;
  align-self: end;
} */

#new-place-form > #form-wrapper > #form-item {
  position: relative;
}

#new-place-form > #form-wrapper > #form-item > label {
  position: absolute
}

label.form-labels {
  display: ;
  float: left;
  text-align: right;
  width: 6em;
  margin-right: 1em;
  margin-top: 0.4em;
}

input[type=text] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#details {
  width: 18.5%;
  padding: 10px;
  margin: 8px 0;
  
}

#list {
  font-family: "Inconsolata", monospace;
}

#visit-wish-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  
}

#visit-wish-list > li {
  padding: 20px;
  
}

#new-entry {
  white-space: pre;
  font-family: "Inconsolata", monospace;
}